/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.body {
  width: 70%;
  margin: auto;
  justify-content: center;
  background-color: darkolivegreen;
  text-align: center;
  padding: 20px;
}

.neww {
  background-color: moccasin;
  text-align: center;
  display: block;
  margin-bottom: 10px;
} */
